

example_applications/additional_studies/forward_design/
#example_applications/additional_studies/further_checks/

solvers/HF_openMC/training_data/2_aug/seed_0/runs/
solvers/HF_openMC/training_data/1_aug/seed_0/runs/
solvers/HF_openMC/training_data/13_jul/seed_0/runs/


# Python cache
__pycache__/
*.pyc
*.pyo
*.log
*.txt
# *.sh
*.out
*.err

.cursor/
.cursor/rules/
.mplconfig/
.vscode/

# macOS
.DS_Store
